<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:scwvg="">
<head>
    <meta charset="utf-8">
    <title>用户信息编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}"
          media="all">
</head>
<body>

<form class="layui-form" action="" id="layuiForm">
    <div class="layui-card">
        <div class="layui-card-header">添加管理用户</div>
        <div class="layui-card-body" style="padding: 15px 10px 0px 15px">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户登录名</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="128" name="wvgLoginName" id="wvgLoginName" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">取电方式</label>
                        <div class="layui-input-block">
                            <scwvg:dselect name="powerway" userAttr="id=powerway" layFilter="powerway"
                                           dictTypeCode="POWERWAY" layVerify="true" isSearch="false"
                                           isShowDefaultSel="true" defaultSel="请选择...." />
                            <input type="hidden" name="powerwaydict" id="powerwaydict">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">采集模式</label>
                        <div class="layui-input-block">

                            <scwvg:dselect name="collectway" userAttr="id=collectway" layFilter="collectway"
                                           dictTypeCode="COLLECTWAY" layVerify="true" isSearch="false"
                                           isShowDefaultSel="true" defaultSel="请选择...." />

                            <input type="hidden" name="collectwaydict" id="collectwaydict" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">SIM卡/物联卡</label>
                        <div class="layui-input-block" style="line-height: 36px;">
                            <input type="text" maxlength="20" name="simnumber" id ="simnumber" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="16" name="simpassword" id="simpassword" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><font color="red">*</font>MAC地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="macaddress" id="macaddress" maxlength="12"
                                   title="" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">ICCID码</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="20" name="iccid" id="iccid" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">铭牌编号</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="20" name="nameplateno" id="nameplateno" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备品牌</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="128" name="brand" id="brand" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备型号</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="128" name="model" id="model" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><font color="red">*</font>所属分区</label>
                        <div class="layui-input-block">
                            <select name="subarrayid" id="subarrayid" lay-filter="subarrayid"></select>
                            <i class="layui-btn iconfont icon-add table-operating table-operating-blue selectAddIcon" id="addSubarray" alt="添加分区"></i>
                            <input type="hidden" name="subarrayname" id="subarrayname" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">开始使用时间</label>
                        <div class="layui-input-block layui-date-input">
                            <input type="text" id="begindata" name="begindata"  readonly="readonly" lay-verify="required" class="layui-input" autocomplete="off">
                            <i class="icon iconfont icon-calendar"></i>
                        </div>
                    </div>
                </div>



                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">说明</label>
                        <div class="layui-input-block">
                            <textarea name="remark" id="remark" class="layui-textarea" maxlength="256" title="限制最多256个字符"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">关联摄像头
            <a class="layui-btn iconfont icon-add table-operating table-operating-blue" id="addCamera" alt="添加摄像头"></a>
        </div>
        <div class="layui-card-body" style="padding: 15px 10px 15px 10px">
            <div class="sTableArea">
                <table id="paraManage_" lay-filter="paraManage_" lay-data="{id: 'paraManage_'}">
                </table>
            </div>
        </div>
    </div>
</form>


<script src="../../../static/layui/layui.js"
    th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$,form = layui.form ;
    })
</script>
</body>
</html>