server:
  port: 8081
  servlet:
    session:
      timeout: 10m
spring:
  thymeleaf:
    encoding: UTF-8
    cache: false #热部署静态文件，禁止缓存
    mode: HTML5 #使用HTML5标准
#配置数据源
  datasource:
    username: root
    password: lul@123456
    url: jdbc:mysql://136.192.50.29:23306/scwvg?serverTimezone=GMT%2B8&characterEncoding=utf-8&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver  #com.mysql.cj.jdbc.Driver
  jpa:
#  hibernate:
#  ddl-auto: update #自动更新建表
    show-sql: true
#  database-platform: org.hibernate.dialect.MySQLDialect # 配置數據庫方言
  #配置国际化校验的properties文件
  messages:
    basename: i18n/validation/ValidationMessages
  #springboot之json中日期格式转换问题
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8