<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../static/layui/css/layui.css"
        th:href="@{/layui/css/layui.css}"
        media="all">
  <link rel="stylesheet" href="../../static/style/admin.css"
        th:href="@{/style/admin.css}"
        media="all">
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space5">
      <div class="layui-col-md9">
        <div class="layui-row layui-col-space5">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷方式</div>
              <div class="layui-card-body" style="padding: 0px 0px;">
                
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage1.html">
                          <i class="layui-icon layui-icon-console"></i>
                          <cite>资源列表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="home/homepage2.html">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>资源核查</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="component/layer/list.html">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>资源采集</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a layadmin-event="im">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>拓扑发现</cite>
                        </a>
                      </li>
                    </ul>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>拓扑融合</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>流量查询</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>规范核查</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/user/info.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>告警查询</cite>
                        </a>
                      </li>
                    </ul>
                    
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">厂家支撑</div>
              <div class="layui-card-body" style="padding: 0px 0px;">
                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                          <h3>待审评论</h3>
                          <p><cite>66</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                          <h3>待审帖子</h3>
                          <p><cite>12</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="template/goodslist.html" class="layadmin-backlog-body">
                          <h3>待审商品</h3>
                          <p><cite>99</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                          <h3>待发货</h3>
                          <p><cite>20</cite></p>
                        </a>
                      </li>
                    </ul>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs5">
                        <a href="javascript:;" class="layadmin-backlog-body">
                          <h3>待审友情链接</h3>
                          <p><cite style="color: #FF5722;">5</cite></p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body" style="padding: 0px; 0px;">
                
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                  <div carousel-item id="LAY-index-dataview">
                    <div style="position: relative; float: left;">
                    	<div id=LAY-index-left class="left" style="height: 432px; width: 24%; position: relative; float: left;margin-left: 5px;margin-right: 5px;">
                    		<!-- OLT设备 -->
                    		<a id="toOlt" lay-href="page/res/list#/onu=false" style="display: none">资源列表</a>
                    		<div carousel-item id="LAY-index-olt-pie" style="height: 200px; padding: 5px;"></div>
							<!-- ONU设备 -->
							<a id="toOnu" lay-href="page/res/list#/onu=true" style="display: none">资源列表</a>
							<div carousel-item id="LAY-index-onu-pie" style="height: 200px; padding: 5px; margin-top: 5px;"></div>
                    	</div>
                    	<!-- 地图 -->
                    	<div id=LAY-index-map class="LAY-index-map" style="height: 432px; width: 48.2%; position: relative; float: left;margin-left: 5px;margin-right: 5px;"></div>
                    	<div id=LAY-index-right class="right" style="height: 432px; width: 24%; position: relative; float: left;margin-left: 5px;margin-right: 5px;">
                    		<!-- 告警 -->
                    		<a id="toAm" lay-href="page/am/list" style="display: none">告警查询</a>
                    		<div carousel-item id="LAY-index-olt-alarm-pie" style="height: 200px; padding: 5px;"></div>
							<!-- 流量 -->
							<div carousel-item id="LAY-index-olt-flux-pie" style="height: 200px; padding: 5px; margin-top: 5px;"></div>
                    	</div>
                    	<i class="layui-icon layui-icon-loading1 layadmin-loading"></i>
                    </div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="layui-card">
              <div class="layui-tab layui-tab-brief layadmin-latestData">
                <ul class="layui-tab-title">
                  <li>今日新增用户量</li>
                  <li>今日严重告警量</li>
                  <li>今日流量拥塞量</li>
                  <li>配置规范率TOP</li>
                  <li>开通成功率TOP</li>
                  <li>光纤距离TOP </li>

                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">
                    <table id="LAY-index-topSearch"></table>
                  </div>
                  <div class="layui-tab-item">
                    <table id="LAY-index-topCard"></table>
                  </div>
                  <div class="layui-tab-item">
                    <table id="LAY-index-topCard1"></table>
                  </div>
                  <div class="layui-tab-item">
                    <table id="LAY-index-topCard2"></table>
                  </div>
                  <div class="layui-tab-item">
                    <table id="LAY-index-topCard3"></table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">版本信息</div>
          <div class="layui-card-body layui-text">
            <table class="layui-table">
              <colgroup>
                <col width="100">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>当前版本</td>
                  <td>
                    <script type="text/html" template>
                      【vs1.1】
                      <a href="http://fly.layui.com/docs/3/" target="_blank" style="padding-left: 15px;">敬请期待系统上线</a>
                    </script>
                  </td>
                </tr>
                <tr>
                  <td>功能说明</td>
                  <td>
                    <script type="text/html" template>
                      基于大数据动态可视化数据展现，一站式管理PON网络。轻松解决日常运维工作。
                    </script>
                 </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="layui-card">
          <div class="layui-card-header">效果报告</div>
          <div class="layui-card-body layadmin-takerates">
            <div class="layui-progress" lay-showPercent="yes">
              <h3>转化率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-15"></span>）</h3>
              <div class="layui-progress-bar" lay-percent="65%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>签到率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-15"></span>）</h3>
              <div class="layui-progress-bar" lay-percent="32%"></div>
            </div>
          </div>
        </div>
        
        <div class="layui-card">
          <div class="layui-card-header">实时监控</div>
          <div class="layui-card-body layadmin-takerates">
            <div class="layui-progress" lay-showPercent="yes">
              <h3>CPU使用率</h3>
              <div class="layui-progress-bar" lay-percent="58%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>内存占用率</h3>
              <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
            </div>
          </div>
        </div>
        
        <div class="layui-card">
          <div class="layui-card-header">进度展示</div>
          <div class="layui-card-body">
            <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade" lay-filter="news">
              <div carousel-item>

              </div>
            </div>
          </div>
        </div>

        <div class="layui-card">
          <div class="layui-card-header">
            意见反馈
            <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
          </div>
          <div class="layui-card-body">
          <form class="layui-form" action="">
              <div class="layui-input-index">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-input-index">
                <select name="city" lay-verify="required">
                  <option value="1">投诉</option>
                  <option value="2">意见</option>
                  <option value="3">建议</option>
                  <option value="4">表扬</option>
                  <option value="5">问题</option>
                </select>
            </div>
            <div class="layui-form-item layui-form-text">
              <div class="layui-input-index">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
  <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../js/jq.js"></script>
  <script>
  layui.config({
    base: '/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script>
</body>
</html>

