server:
  port: 7601
spring:
  application:
    name: scwvg-eureka7601
eureka:
  instance:
    hostname: scwvg-eureka7601.com
    instance-id: scwvg-eureka7601
  client:
    register-with-eureka: true   #false表示不向注册中心注册自己。
    fetch-registry: true   #false表示自己端就是注册中心，并不需要去检索服务
    service-url:
      defaultZone: http://scwvg-eureka7602.com:7602/eureka/,http://scwvg-eureka7603.com:7603/eureka/
      #spring:
      #security:
      #user:
      #name: scwvg
      #password: scwvg123


