<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scwvg.system.mapper.WvgMenuMapper">

    <select id="findDistinctByRoleListIsIn" parameterType="java.util.List" resultType="com.scwvg.system.entitys.WvgMenu">
        <![CDATA[
        SELECT
            distinct
            /*菜单ID*/
            w.wvg_menu_id AS "wvgMenuId",
            /*父级菜单ID*/
            w.wvg_parent_id AS "wvgParentId",
            /*菜单名称*/
            w.wvg_menu_name AS "wvgMenuName",
            /*菜单地址*/
            w.wvg_menu_url AS "wvgMenuUrl",
            /*菜单新增时间*/
            w.wvg_add_time AS "wvgAddTime",
            /*修改时间*/
            w.wvg_updata_time AS "wvgUpdataTime",
            /*菜单图标*/
            w.wvg_menu_icon AS "wvgMenuIcon",
            /*菜单状态（0，根菜单   1，挂载  2，未挂载）*/
            w.wvg_menu_state AS "wvgMenuState",
            /*树级菜单序列字段*/
            w.wvg_seq AS "wvgSeq",
            /*菜单排序*/
            w.wvg_menu_order AS "wvgMenuOrder",
            /*树级菜单层级*/
            w.wvg_menu_level AS "wvgMenuLevel",
            /*顶级菜单ID*/
            w.wvg_top_id AS "wvgTopId"
        FROM
            wvg_menu w,
            wvg_role r,
            wvg_role_menu rm
        WHERE w.wvg_menu_id = rm.wvg_menu_id
        AND r.wvg_role_id = rm.wvg_role_id
        ]]>
        <if test="roleids != null">
            AND r.wvg_role_id IN
            <foreach collection="roleids" item="roleid" index="index" open="(" close=")" separator=",">
                #{roleid}
            </foreach>
        </if>
    </select>

    <select id="findByWvgMenuIdEqualsOrWvgMenuIdIsIn" resultType="com.scwvg.system.entitys.WvgMenu">
        <![CDATA[
        SELECT
            distinct
            /*菜单ID*/
            w.wvg_menu_id AS "wvgMenuId",
            /*父级菜单ID*/
            w.wvg_parent_id AS "wvgParentId",
            /*菜单名称*/
            w.wvg_menu_name AS "wvgMenuName",
            /*菜单地址*/
            w.wvg_menu_url AS "wvgMenuUrl",
            /*菜单新增时间*/
            w.wvg_add_time AS "wvgAddTime",
            /*修改时间*/
            w.wvg_updata_time AS "wvgUpdataTime",
            /*菜单图标*/
            w.wvg_menu_icon AS "wvgMenuIcon",
            /*菜单状态（0，根菜单   1，挂载  2，未挂载）*/
            w.wvg_menu_state AS "wvgMenuState",
            /*树级菜单序列字段*/
            w.wvg_seq AS "wvgSeq",
            /*菜单排序*/
            w.wvg_menu_order AS "wvgMenuOrder",
            /*树级菜单层级*/
            w.wvg_menu_level AS "wvgMenuLevel",
            /*顶级菜单ID*/
            w.wvg_top_id AS "wvgTopId"
        FROM
            wvg_menu w,
            wvg_role r,
            wvg_role_menu rm
        WHERE w.wvg_menu_id = rm.wvg_menu_id
        AND r.wvg_role_id = rm.wvg_role_id
        ]]>
        <if test="menuid != null">
            AND ( w.wvg_menu_id = #{menuid}
            OR w.wvg_top_id IS NULL
            <if test="menuids != null">
                OR w.wvg_menu_id IN
                <foreach collection="menuids" item="menuid" index="index" open="(" close=")" separator=",">
                    #{menuid}
                </foreach>
            </if>
            )
        </if>
    </select>
    <select id="findByWvgMenuWvgSeqIsLike" resultType="com.scwvg.system.entitys.WvgMenu">
        <![CDATA[
        SELECT
            distinct
            /*菜单ID*/
            w.wvg_menu_id AS "wvgMenuId",
            /*父级菜单ID*/
            w.wvg_parent_id AS "wvgParentId",
            /*菜单名称*/
            w.wvg_menu_name AS "wvgMenuName",
            /*菜单地址*/
            w.wvg_menu_url AS "wvgMenuUrl",
            /*菜单新增时间*/
            w.wvg_add_time AS "wvgAddTime",
            /*修改时间*/
            w.wvg_updata_time AS "wvgUpdataTime",
            /*菜单图标*/
            w.wvg_menu_icon AS "wvgMenuIcon",
            /*菜单状态（0，根菜单   1，挂载  2，未挂载）*/
            w.wvg_menu_state AS "wvgMenuState",
            /*树级菜单序列字段*/
            w.wvg_seq AS "wvgSeq",
            /*菜单排序*/
            w.wvg_menu_order AS "wvgMenuOrder",
            /*树级菜单层级*/
            w.wvg_menu_level AS "wvgMenuLevel",
            /*顶级菜单ID*/
            w.wvg_top_id AS "wvgTopId"
        FROM
            wvg_menu w,
            wvg_role r,
            wvg_role_menu rm
        WHERE w.wvg_menu_id = rm.wvg_menu_id
        AND r.wvg_role_id = rm.wvg_role_id
        ]]>
        <if test="wvgSeq != null">
          AND w.wvg_seq LIKE concat('%', #{wvgSeq} ,'%')
        </if>
    </select>
</mapper>
