server:
  port: 5012
eureka:
  client:
    register-with-eureka: true   #不能进行自己注册
    service-url:
      defaultZone: http://scwvg-eureka7601.com:7601/eureka/,http://scwvg-eureka7602.com:7602/eureka/,http://scwvg-eureka7603.com:7603/eureka/
  instance:
    prefer-ip-address: true
    instance-id: scwvg-pmee-consumer-5012
spring:
  application:
    name: scwvg-pmee-consumer
#构建eureka,info信息
info:
  app.name: scwvg-pmee-consumer-5012
  company.name: www.scwvg.com
  build.artifactId: scwvg-pmee-consumer
  build.version: 1.0-SNAPSHOT
#开启服务熔断
feign:
  hystrix:
    enabled: true
