<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../../../static/style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="../../../static/layui/css/dtree.css" th:href="@{/layui/css/dtree.css}" media="all">
    <link rel="stylesheet" href="../../../static/layui/css/dtreefont.css" th:href="@{/layui/css/dtreefont.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!--header头部-->
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <!--开始编写查询条件内如-->
                <div class="layui-inline">
                    <label class="layui-form-label">英文角色名</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="wvg_role_name" placeholder="角色英文名" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" lay-size="sm">中文角色名</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="wvg_role_description" placeholder="角色中文名" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="queryRols">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="add" permission="role:add">添加</button>
                    <input id="handle_status" value="" hidden="hidden">
                    <input type="text" name="reportId3" id="reportId3" hidden="hidden">
                </div>
            </div>
        </div>
        <!--body中间-->
        <div class="layui-card-body">
            <table id="roleManger" lay-filter="roleManger"></table>
            <script type="text/html" id="operation">
                <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="editAuthority" permission="role:authority:edit">修改权限</a>
                <a class="layui-btn layui-btn-sm" lay-event="edit" id="edit" permission="role:update">修改角色</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del" permission="role:del">删除</a>
            </script>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/jq.js"></script>
<script type="text/javascript" src="../../js/dtree.js" th:src="@{/js/dtree.js}"></script>
<script th:inline="none">
    var token=localStorage.getItem("token");
    layui.config({
        base:"/"
    }).extend({
        index: 'lib/index'
    }).use(['index','form','useradmin','table','laydate','dtree'], function () {
        var dtree = layui.dtree;
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        /*设置表头，获取数据*/
        table.render({
            elem: '#roleManger',
            sort: true,
            smartReloadModel: true,// 是否开启智能reload的模式
            cols:[[ {field: 'wvg_role_name', title: '角色名', width: 120},
                {field: 'wvg_role_description', title: '中文名', width: 180},
                {field: 'createTime', title: '新增时间', width: 220},
                {field: 'updateTime', title: '修改时间', width: 220},
                {field: 'changeStr', title: '新增人', width: 100},
                {fixed: 'right', title: '操作', toolbar: '#operation', width: 230}]],
            url: '/roles/roleList?token=' +token,
            //分页
            request:{
                pageName: 'pageNum',
                limitName: 'pageSize',
                size: 10,
                page: 1
            },
            //获得服务器数据
            parseData:function(res){
                return{
                    success:true,
                    data:res.items,
                    count:res.totalNum
                };
            },
            page:{
                page:0
            },
            response: {
                statusName: 'success' //规定数据状态的字段名称，默认：code
                ,statusCode: true //规定成功的状态码，默认：0
            },
            toolbar: 'default', //让工具栏左侧显示默认的内置模板
            even: true
        });

        /*监听搜索*/
        form.on('submit(queryRols)',function (data) {
            //获取数据
            var field =data.field;
            //执行重载
            table.reload('roleManger',{
                where:field
            });
        });

        /*监听添加*/
        form.on('submit(add)',function () {
            layer.open({
                type:2,
                title: '添加角色',
                content: ['/page/role/addRole?token='+token, 'no'],
                maxmin: true,
                area:['730px','130px'],
                anim: 1,
                success:function(layero,index){

                },
                end:function() {
                    var handle_status = $("#handle_status").val();
                    if (handle_status == '0') {
                        layer.msg('添加成功！', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            history.go(0);
                        });
                    } else if (handle_status == '1') {
                        layer.msg('添加失败,请联系系统厂商处理！', {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            history.go(0);
                        });
                    }
                }
            });
        });

        //解决隐藏工具条无法点击
        $(document).off('mousedown','.layui-table-grid-down')
           .on('mousedown','.layui-table-grid-down',function(event) {
            table._tableTrCurr=$(this).closest('td');
        });
        $(document).off('click','.layui-table-tips-main [lay-event]')
             .on('click', '.layui-table-tips-main [lay-event]', function(event){
                 var elem=$(this);
                 var tableTrCurr=table._tableTrCurr;
                 if(!tableTrCurr){
                    return;
                 }
                 var layerIndex=elem.closest('.layui-table-tips').attr('times');
                 layer.close(layerIndex);
                 table._tableTrCurr.find('[lay-event="'+elem.attr('lay-event')+'"]').click();//fires()
        });

        //工具监听事件
        table.on('tool(roleManger)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent=='editAuthority'){
                layer.open({
                    type:0,
                    anim:1,
                    title:"权限选择",
                    area:["400px", "80%"],
                    content:'<ul id="roleTree" class="dtree" data-id="0"></ul>',
                    btn: ['确认','取消'],
                    success: function (layero,index) {
                        var wvgtree =dtree.render({   //数据回显
                            obj: $(layero).find("#roleTree"),
                            url: "/roles/roledTreeList?token"+token,
                            request:{wvg_role_id:data.wvg_role_id},  //自定义请求参数
                            checkbar: true,// 开启复选框
                        });
                    },
                    yes: function(index, layero) {
                        var flag = true;
                        var params = dtree.getCheckbarNodesParam("roleTree"); // 获取选中值
                        if(params.length == 0){
                            layer.msg("请至少选择一个节点",{icon:2});
                            flag = false;
                        }
                        var ids = [], names = [];
                        for(var key in params){
                            var param = params[key];
                            ids.push(param.nodeId);
                            names.push(param.context);
                        }
                        $("#reportId3").val(ids.join(","));
                        var wvg_menu_id=$("#reportId3").val();
                        var wvg_role_id=data.wvg_role_id;

                        $.ajax({
                            type:'get',
                            url:'/roles/addRoleAuthority/'+wvg_role_id+'/'+wvg_menu_id+'?tokne'+token,
                            success:function (data) {
                                layer.msg(data.message, {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                });
                            }
                        })
                        if(flag){
                            layer.close(index);
                        }
                    }
                });
            }

           if(layEvent=='edit'){
                layer.open({
                    type:2,
                    anim:1,
                    title: '修改角色',
                    content: ['/page/role/addRole?token='+token, 'no'],
                    maxmin: true,
                    area:['730px','130px'],
                    success:function(layero,index){
                        var body = layui.layer.getChildFrame('body', index);
                        body.find("#wvg_role_id").val(data.wvg_role_id);
                        body.find("#wvg_role_name").val(data.wvg_role_name);
                        body.find("#wvg_role_description").val(data.wvg_role_description);
                        form.render();
                    },
                    end:function() {
                        var handle_status = $("#handle_status").val();
                        if (handle_status == '0') {
                            layer.msg('修改成功！', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                history.go(0);
                            });
                        } else if (handle_status == '1') {
                            layer.msg('修改失败,请联系系统厂商处理！', {
                                icon: 2,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                history.go(0);
                            });
                        }
                    }
                });
            }
            else if(layEvent=='del'){
                layer.confirm('确定删除该条角色吗？', function(index){
                    layer.close(index);
                    $.ajax({
                        url:'/roles/delRole/'+data.wvg_role_id,
                        success:function (data) {
                            if(data.code=='0'){
                                layer.msg(data.message, {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    history.go(0);
                                });
                            }
                            else {
                                layer.msg(data.message, {
                                    icon: 2,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    history.go(0);
                                });
                            }

                        }
                    })
                });
            }
       });
    });
</script>
</body>
</html>