<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>智谷园网络科技有限公司</title>
    <!--公司log-->
    <link href="imgs/wvg.jpg" rel="SHORTCUT ICON"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<!--头部start-->
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="imgs/logo2.jpg"></a>
        <!--mac端-->
        <ul class="right hide-on-med-and-down">
            <li><a href="#">首页</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">服务</a></li>
            <li><a href="#">行业动态</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">关于我们
                <i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <!--移动端-->
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="#">Navbar Link</a></li>
            <li><a href="#">Navbar Link</a></li>
            <li><a href="#">Navbar Link</a></li>
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!--下啦菜单start-->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">团队风采</a></li>
    <li><a href="#!">精英招聘</a></li>
</ul>
<!--下啦菜单end-->
<!--头部ent-->

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">用心始终，安心更长</h1>
            <div class="row center">
                <h5 class="header col s12 light">智谷园科技与您开展一段最真诚的合作，为您的企业一路保驾护航;</h5>
            </div>
            <div class="row center">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2206946570&site=qq&menu=yes" id="download-button"
                   class="btn-floating btn-large cyan pulse"><i style="font-size: 12px">联系我们</i></a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="imgs/bk4.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">服务事项</h5>
                    <p class="light">我们能给企业采集大型服务器设备数据进行分析监控，数据库性能等所有的信息，不管是医院机房物理机服务器，还是国企大型服务器组件。我们屏蔽不同厂家带来的差异化和复杂度。
                        给您提供一套完整的预警预案和设备产生的告警处理，可一站式托管。让您实时监控您的大型服务器健康状态。大数据分析服务器的扩容机制以及监控。给您服务好企业
                        的最后一道防火墙。</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">用户体验</h5>

                    <p class="light">我们为客户提供大数据报表分析管理设备。智能分析，一键解决故障设备等。省去一系列人工成本维护设备带来成本及资源。
                        从此减轻企业设备维护难，成本高等一系列问题。让维护人员在家也能通过手机解决故障。提升效率;</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">操作讲解</h5>

                    <p class="light">对企业来讲，大型运行设备，服务器等是产品的核心命脉，服务器或设备down机都能给企业带来毁灭性的灾难。
                        通过我们对设备服务的管理，监控，告警上报，处理故障能有效解决以上问题。且操作简单，手机或者电脑提供
                        “一键处理故障”，让外行小白也能借助我们产品有效管理大型设备，服务器等</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">基于大数据支持的智能化大型设备管理，业务数据采集，分析挖掘等。</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="imgs/hdpbk.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>成功案例</h4>
            </div>
            <!--<p class="left-align light">公司发展以来，受到各行业青睐，目前</p>-->
            <div class="col s12 m6 l3">
                <a>
                    <img src="imgs/ctmdx.jpg">
                    <p>中国电信黑龙江分公司</p>
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a>
                    <img src="imgs/yljdl.jpg">
                    <p>雅砻江流域水电开发有限公司</p>
                </a>
            </div>
            <div class="col s12 m6 l3">
                <a>
                    <img src="imgs/dzkj.jpg">
                    <p>成都电子科技大学</p>
                </a>
            </div>
            <div class="col s12 m6 l2">
                <a>
                    <img src="imgs/bykf.png">
                    <p>四川八一康复医院</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">梦想聚团队，团队铸梦想，激情快乐人</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="imgs/tema.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="row">
        <div class="col l6 m12">
            <h5 class="white-text">关于我们</h5>
            <p class="grey-text text-lighten-4">智谷园网络科技公司一直致力于机房环境与动力设备监控系统的建设,业务数据集中采集，分析
                自成立以来，遵从“信誉第一、用户第一、自强不息、服务社会”的经营宗旨，以前瞻的眼光、超前的理念和领先的技术推动着我国机房安全综合监控，
                业务数据采集，挖掘，分析事业的发展。
            </p>
        </div>
        <div style="float: right" class="col l3 m12">
            <h5 class="white-text">友情链接</h5>
            <ul>
                <li><a class="white-text" href="http://www.189.cn/">中国电信</a></li>
                <li><a class="white-text" href="https://www.uestc.edu.cn/">四川电子科技大学</a></li>
                <li><a class="white-text" href="https://scdl.dlzb.com/">国家电网四川电力公司</a></li>
                <li><a class="white-text" href="http://www.81kf.cn/">四川八一康复医院</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="">
            <a class="brown-text"> 公司地址：四川成都武侯区武科北路72号&nbsp;&nbsp;&nbsp;&nbsp; 电话：18482297774 &nbsp;&nbsp;&nbsp;&nbsp;邮编：610041</a>
            <a class="brown-text text-lighten-6" href="http://www.miibeian.gov.cn/">Copyright © 智谷园网络科技成都有限公司 | 蜀ICP备19008427号-1</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
</body>
</html>
