<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scwvg.mappers.WvgResDataMapper">
    
    <select id="queryAllCity" resultType="java.util.HashMap">
        SELECT city_id, city_name FROM wvg_city where city_id != 0 ORDER BY city_id ASC
    </select>
    
    <!-- 分页查询资源数据 -->
    <select id="queryByPage" parameterType="map" resultType="java.util.HashMap">
        SELECT
			x.res_ip,
			x.res_name,
		  s.snmp_read,
		  s.snmp_write,
		  v.res_vendor_name,
		  x.res_model,
		  x.res_os_version,
		  (CASE 
		    WHEN x.res_state =0 then '在网'
		    WHEN x.res_state =1 THEN '新建'
		    WHEN x.res_state =2 THEN '退网'
		   END) as res_state,
		   c.city_name,
		   (CASE
		     WHEN x.snmp_state =0 THEN '正常'
		     WHEN x.snmp_state =1 THEN 'SNMP异常'
		     WHEN x.snmp_state =2 THEN 'PING异常'
		     WHEN x.snmp_state =3 THEN '未知异常'
		     END) as snmp_state,
		   (CASE
		     WHEN x.telnet_state =0 THEN '正常'
		     WHEN x.telnet_state =1 THEN 'TELNET异常'
		     WHEN x.telnet_state =2 THEN '未知异常'
		     END) as telnet_state,
		   b.net_date,
		  (CASE
		    WHEN  b.isno_kba=1 THEN '已验收'
		    WHEN  b.isno_kba=2 THEN '未验收'
		    END) as isno_kba,
		   b.up_model,
		   b.double_couplet,
		   b.up_manner,
		   b.isno_battery,
		   b.isno_dynamicring,
		   b.zd_name,
		  (CASE
		    WHEN b.res_area=0 THEN '市区'
		    WHEN b.res_area=1 THEN '县城'
		    WHEN b.res_area=2 THEN '乡镇'
		   END) as res_area,
		   x.res_addess,
		   x.res_addtime
		FROM
			wvg_res_data x
		LEFT JOIN wvg_snmp s on x.snmp_id=s.snmp_id
		LEFT JOIN wvg_res_vendor v on x.res_vendor_id=v.res_vendor_id
		LEFT JOIN wvg_res_data_subs b on x.res_id=b.res_id
		LEFT JOIN wvg_city c on x.city_id=c.city_id
		<where>
			<if test="city_id != null and city_id != ''">
			    AND x.city_id = #{city_id}
			</if>
			<if test="res_type_id != null and res_type_id !=''">
			    AND x.res_type_id = #{res_type_id}
			</if>
			<if test="ip != null and ip != ''">
			    AND x.res_ip = #{ip}
			</if>
			<if test="res_vendor_id != null and res_vendor_id != ''">
			    AND x.res_vendor_id = #{res_vendor_id}
			</if>
			<if test="snmp_state != null and snmp_state != ''">
			    AND x.snmp_state = #{snmp_state}
			</if>
			<if test="telnet_state != null and telnet_state != ''">
			    AND x.telnet_state = #{telnet_state}
			</if>
			<if test="res_area != null and res_area != ''">
			    AND b.res_area = #{res_area}
			</if>
			<if test="isno_battery != null and isno_battery != ''">
			    AND b.isno_battery = #{isno_battery}
			</if>
			<if test="isno_dynamicring != null and isno_dynamicring != ''">
			    AND b.isno_dynamicring = #{isno_dynamicring}
			</if>
			<if test="res_name != null and res_name != ''">
			    AND x.res_name LIKE CONCAT('%',#{res_name},'%')
			</if>
		</where>
		ORDER BY x.res_id
        
    </select>
    
    <!-- 查询资源数据详情 -->
    <select id="get" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
			x.res_ip,
			x.res_name,
		  s.snmp_read,
		  s.snmp_write,
		  v.res_vendor_name,
		  x.res_model,
		  x.res_os_version,
		  (CASE 
		    WHEN x.res_state =0 then '在网'
		    WHEN x.res_state =1 THEN '新建'
		    WHEN x.res_state =2 THEN '退网'
		   END) as res_state,
		   c.city_name,
		   (CASE
		     WHEN x.snmp_state =0 THEN '正常'
		     WHEN x.snmp_state =1 THEN 'SNMP异常'
		     WHEN x.snmp_state =2 THEN 'PING异常'
		     WHEN x.snmp_state =3 THEN '未知异常'
		     END) as snmp_state,
		   (CASE
		     WHEN x.telnet_state =0 THEN '正常'
		     WHEN x.telnet_state =1 THEN 'TELNET异常'
		     WHEN x.telnet_state =2 THEN '未知异常'
		     END) as telnet_state,
		   b.net_date,
		  (CASE
		    WHEN  b.isno_kba=1 THEN '已验收'
		    WHEN  b.isno_kba=2 THEN '未验收'
		    END) as isno_kba,
		   b.up_model,
		   b.double_couplet,
		   b.up_manner,
		   b.isno_battery,
		   b.isno_dynamicring,
		   b.zd_name,
		  (CASE
		    WHEN b.res_area=0 THEN '市区'
		    WHEN b.res_area=1 THEN '县城'
		    WHEN b.res_area=2 THEN '乡镇'
		   END) as res_area,
		   x.res_addess,
		   x.res_addtime
		FROM
			wvg_res_data x
		LEFT JOIN wvg_snmp s on x.snmp_id=s.snmp_id
		LEFT JOIN wvg_res_vendor v on x.res_vendor_id=v.res_vendor_id
		LEFT JOIN wvg_res_data_subs b on x.res_id=b.res_id
		LEFT JOIN wvg_city c on x.city_id=c.city_id
		
		WHERE x.res_id = #{id}
    </select>
</mapper>
