<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scwvg.mappers.WvgUserMapper">
    <!--<select id="countUserAll" resultType="int">
        select count(1) from wvg_user t
        <include refid="where"/>
    </select>
    <select id="queryUserList" resultType="com.scwvg.entitys.scwvgponnetwork.WvgUser">
        select * from wvg_user t
        <include refid="where"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>
    <insert id="saveUserRoles">
        insert into wvg_role_user(wvg_role_id, wvg_user_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{roleIds}, #{wvg_user_id})
        </foreach>
    </insert>-->
    <update id="updateUserInfo">
        update wvg_user x
        <set>
            <if test="wvg_login_name != null">
                wvg_login_name = #{wvg_login_name},
            </if>
            <if test="wvg_real_name != null">
                wvg_real_name = #{wvg_real_name},
            </if>
            <if test="wvg_id_type != null">
                wvg_id_type = #{wvg_id_type},
            </if>
            <if test="wvg_spec_id != null">
                wvg_spec_id = #{wvg_spec_id},
            </if>
            <if test="wvg_id_number != null">
                wvg_id_number = #{wvg_id_number},
            </if>
            <if test="wvg_user_iphone != null">
                wvg_user_iphone = #{wvg_user_iphone},
            </if>
            <if test="wvg_account_data != null">
                wvg_account_data = #{wvg_account_data},
            </if>
            <if test="wvg_account_enabled != null">
                wvg_account_enabled = #{wvg_account_enabled},
            </if>
            <if test="wvg_user_password != null">
                wvg_user_password = #{wvg_user_password},
            </if>

            <if test="wvg_password_data != null">
                wvg_password_data = #{wvg_password_data},
            </if>
            <if test="wvg_add_time != null">
                wvg_add_time = #{wvg_add_time},
            </if>
            wvg_update_time = #{wvg_update_time},
            <if test="wvg_user_password != null">
                wvg_account_type = #{wvg_account_type},
            </if>
            <if test="wvg_user_password != null">
                wvg_login_time = #{wvg_login_time},
            </if>
            <if test="wvg_login_ip != null">
                wvg_login_ip = #{wvg_login_ip},
            </if>
            <if test="wvg_account_remarks != null">
                wvg_account_remarks = #{wvg_account_remarks},
            </if>
        </set>
        where x.wvg_user_id = #{wvg_user_id}
    </update>

    <select id="querUserInfo" parameterType="String" resultType="com.scwvg.entitys.scwvgponnetwork.WvgUser">
    <![CDATA[

                SELECT
                a.wvg_user_id,
                /*#用户ID*/
                a.wvg_login_name,
                /*#用户登录名*/
                a.wvg_real_name,
                /* #用户真实姓名*/
                a.wvg_id_type,
                /* #用户证件类型*/
                a.wvg_spec_id,
                /* #专业ID（wvg_spec_type专业表外键ID）*/
                a.wvg_id_number,
                /*#证件号*/
                a.wvg_user_iphone,
                /*#联系电话*/
                a.wvg_account_enabled,
                /*#账号是否激活（0未激活，1激活）*/
                a.wvg_account_data,
                /* #账号有效期*/
                a.wvg_user_password,
                /*#用户密码*/
                a.wvg_password_data,
                /*#密码有效期*/
                a.wvg_add_time,
                /*#账号新增时间*/
                a.wvg_update_time,
                /*#账号修改时间*/
                a.wvg_account_type,
                /*#账号状态（0,活动 1,锁定）*/
                a.wvg_login_time,
                /*#账号登录时间*/
                a.wvg_login_ip,
                /*#账号登录原地址IP*/
                date_add(now(),interval -a.wvg_account_data month)<a.wvg_add_time as wvg_act_date,
                /*#账号是否过期1,true 0,fluse*/
                date_add(now(),interval -a.wvg_password_data month)<a.wvg_add_time as wvg_pwd_date,
                a.wvg_account_remarks
                /*#备注*/
                FROM
                wvg_user a
                WHERE
                a.wvg_login_name =#{wvg_user_name}



        ]]>
</select>
</mapper>


        <!--
        <resultMap id="wvg_user_map" type="com.scwvg.entitys.scwvgponnetwork.WvgUser">
        <id property="wvg_user_id" column="wvg_user_id"/>
        <result property="wvg_login_name" column="wvg_login_name"/>
        <result property="wvg_real_name" column="wvg_real_name"/>
        <result property="wvg_id_type" column="wvg_id_type"/>
        <result property="wvg_spec_id" column="wvg_spec_id"/>
        <result property="wvg_id_number" column="wvg_id_number"/>
        <result property="wvg_user_iphone" column="wvg_user_iphone"/>
        <result property="wvg_account_enabled" column="wvg_account_enabled"/>
        <result property="wvg_account_data" column="wvg_account_data"/>
        <result property="wvg_user_password" column="wvg_user_password"/>
        <result property="wvg_password_data" column="wvg_password_data"/>
        <result property="wvg_add_time" column="wvg_add_time"/>
        <result property="wvg_update_time" column="wvg_update_time"/>
        <result property="wvg_account_type" column="wvg_account_type"/>
        <result property="wvg_login_time" column="wvg_login_time"/>
        <result property="wvg_login_ip" column="wvg_login_ip"/>
        <result property="wvg_user_power" column="wvg_user_power"/>
        <result property="wvg_account_remarks" column="wvg_account_remarks"/>
        <result property="Wvg_act_date" column="Wvg_act_date"/>
        <result property="Wvg_pwd_date" column="Wvg_pwd_date"/>
        <collection property="menuList" ofType="com.scwvg.entitys.scwvgponnetwork.WvgMenu">
            <result column="wvg_menu_id" property="wvg_menu_id"/>
            <result column="wvg_parent_id" property="wvg_parent_id"/>
            <result column="wvg_menu_name" property="wvg_menu_name"/>
            <result column="wvg_menu_url" property="wvg_menu_url"/>
            <result column="wvg_menu_type" property="wvg_menu_type"/>
            <result column="wvg_menu_type_name" property="wvg_menu_type_name"/>
            <result column="wvg_add_time" property="wvg_add_time"/>
            <result column="wvg_updata_time" property="wvg_updata_time"/>
            <result column="wvg_menu_icon" property="wvg_menu_icon"/>
            <result column="wvg_menu_state" property="wvg_menu_state"/>
            <result column="wvg_seq" property="wvg_seq"/>
            <result column="wvg_user_id" property="wvg_user_id"/>
        </collection>
        </resultMap>
        <select id="querUserInfoByName" parameterType="String" resultMap="wvg_user_map">
        <![CDATA[
                   SELECT
                a.wvg_user_id,
                a.wvg_login_name,
                a.wvg_real_name,
                a.wvg_id_type,
                a.wvg_spec_id,
                a.wvg_id_number,
                a.wvg_user_iphone,
                a.wvg_account_enabled,
                a.wvg_account_data,
                a.wvg_user_password,
                a.wvg_password_data,
                a.wvg_add_time,
                a.wvg_update_time,
                a.wvg_account_type,
                a.wvg_login_time,
                a.wvg_login_ip,
                a.wvg_user_power,
                a.wvg_account_remarks,
                date_add(
                now(),
                INTERVAL - a.wvg_account_data MONTH
                ) < a.wvg_add_time as Wvg_act_date,
                date_add(
                now(),
                INTERVAL - a.wvg_password_data MONTH
                ) < a.wvg_add_time as Wvg_pwd_date,
                e.wvg_menu_id    	,
                e.wvg_parent_id  	,
                e.wvg_menu_name  	,
                e.wvg_menu_url  	,
                e.wvg_menu_type 	,
                e.wvg_menu_type_name,
                e.wvg_add_time ,
                e.wvg_updata_time  ,
                e.wvg_menu_icon  	,
                e.wvg_menu_state    ,
                e.wvg_seq  		 ,
                e.wvg_user_id
                FROM
                wvg_user a
                LEFT JOIN wvg_role_user b ON a.wvg_user_id = b.wvg_user_id
                LEFT JOIN wvg_role c ON b.wvg_role_id = c.wvg_role_id
                LEFT JOIN wvg_role_menu d ON d.wvg_role_id = c.wvg_role_id
                LEFT JOIN wvg_menu e ON e.wvg_menu_id = d.wvg_menu_id
                WHERE
                a.wvg_login_name = #{wvg_login_name}
                ]]>
            </select>
        <select id="querUserInfo" parameterType="String" resultType="com.scwvg.entitys.scwvgponnetwork.WvgUser">
        <![CDATA[


                SELECT
                a.wvg_user_id,
                /*#用户ID*/
                a.wvg_login_name,
                /*#用户登录名*/
                a.wvg_real_name,
                /* #用户真实姓名*/
                a.wvg_id_type,
                /* #用户证件类型*/
                a.wvg_spec_id,
                /* #专业ID（wvg_spec_type专业表外键ID）*/
                a.wvg_id_number,
                /*#证件号*/
                a.wvg_user_iphone,
                /*#联系电话*/
                a.wvg_account_enabled,
                /*#账号是否激活（0未激活，1激活）*/
                a.wvg_account_data,
                /* #账号有效期*/
                a.wvg_user_password,
                /*#用户密码*/
                a.wvg_password_data,
                /*#密码有效期*/
                a.wvg_add_time,
                /*#账号新增时间*/
                a.wvg_update_time,
                /*#账号修改时间*/
                a.wvg_account_type,
                /*#账号状态（0,活动 1,锁定）*/
                a.wvg_login_time,
                /*#账号登录时间*/
                a.wvg_login_ip,
                /*#账号登录原地址IP*/
                a.wvg_user_power,
                &lt;!&ndash;用户权限（<0所有权> <1查询权><2新增权><3删除权><4修改权><5查询权and新增权><6新增and修改><7删除and修改><04增删改>）根据此字段在页面封装隐藏显示菜单&ndash;&gt;
                date_add(now(),interval -a.wvg_account_data month)<a.wvg_add_time as Wvg_act_date,
                /*#账号是否过期1,true 0,fluse*/
                date_add(now(),interval -a.wvg_password_data month)<a.wvg_add_time as Wvg_pwd_date,
                a.wvg_account_remarks
                /*#备注*/
                FROM
                wvg_user a
                WHERE
                a.wvg_login_name =#{wvg_login_name}


                ]]>
            </select>-->
