<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../../../static/style/admin.css" th:href="@{/style/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!--header头部-->
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <!--开始编写查询条件内如-->
                <div class="layui-inline">
                    <label class="layui-form-label">登录账号</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="wvg_login_name" placeholder="登录用户名" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" lay-size="sm">真实姓名</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="wvg_real_name" placeholder="真实姓名" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电话号码</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="wvg_user_ihpone" placeholder="手机号码" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="add" permission="users:add">添加</button>
                    <input id="handle_status" value="" hidden="hidden">
                    <!--<span class="layui-btn layui-btn-sm layui-btn-pink" lay-event="autoRefresh" data-time="500">自动刷新(refresh)</span>-->
                </div>
            </div>
        </div>
        <!--body中间-->
        <div class="layui-card-body">
            <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
            <script type="text/html" id="operation">
                <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="detail" permission="users:quit">踢下线</a>
                <a class="layui-btn layui-btn-sm" lay-event="edit" id="edit" permission="users:update">编辑</a>
                <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="reset" permission="users:update">密码重置</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del" permission="users:del">删除</a>
            </script>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/jq.js"></script>
<script th:inline="none">
    var token=localStorage.getItem("token");
    layui.config({
        base:"/"
    }).extend({
        index: 'lib/index'
    }).use(['index','form','useradmin','table','laydate'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
        /*设置表头，获取数据*/
        table.render({
            elem: '#LAY-user-manage',
            sort: true,
            smartReloadModel: true,// 是否开启智能reload的模式
            cols:[[ {field: 'wvg_login_name', title: '登录名', width: 80},
                {field: 'wvg_real_name', title: '真实姓名', width: 120},
                {field: 'changeStr3', title: '用户属地', width: 120},
                {field: 'changeStr', title: '用户专业', width: 120},
                {field: 'changeStr5', title: '归属角色', width: 120},
                {field: 'changeStr4', title: '身份类型', width: 120},
                {field: 'wvg_id_number', title: '身份证号', width: 120},
                {field: 'wvg_user_iphone', title: '手机号', width: 160},
                {field: 'changeStr1', title: '账号在线状态', width: 160},
                {field: 'changeStr2', title: '是否启用', width: 160},
                {field: 'wvg_account_data', title: '账号有效期', width: 160},
                {field: 'wvg_password_data', title: '密码有效期', width: 160},
                {field: 'wvg_add_time', title: '账号新增时间', width: 160},
                {field: 'wvg_update_time', title: '账号修改时间', width: 160},
                {field: 'wvg_login_time', title: '账号登录时间', width: 160},
                {field: 'wvg_login_ip', title: '账号登录IP', width: 160},
                {field: 'wvg_account_remarks', title: '说明', width: 160},
                {fixed: 'right', title: '操作', toolbar: '#operation', width: 100}]],
            url: '/users/userList?token=' +token,
            //分页
            request:{
                pageName: 'pageNum',
                limitName: 'pageSize',
                size: 10,
                page: 1
            },
            //获得服务器数据
            parseData:function(res){
                return{
                    success:true,
                    data:res.items,
                    count:res.totalNum
                };
            },
            page:{
                page:0
            },
            response: {
                statusName: 'success' //规定数据状态的字段名称，默认：code
                ,statusCode: true //规定成功的状态码，默认：0
            },
            toolbar: 'default', //让工具栏左侧显示默认的内置模板
            even: true
        });

        /*监听搜索*/
        form.on('submit(LAY-user-front-search)',function (data) {
            //获取数据
            var field =data.field;
            //执行重载
            table.reload('LAY-user-manage',{
                where:field
            });
        });
        /*监听添加*/
        form.on('submit(add)',function () {
            layer.open({
                anim:1,
                type:2,
                title: '添加用户',
                content: ['/page/user/addUser', 'no'],
                maxmin: true,
                area:['680px','500px'],
                success:function(layero,index){
                },
                end:function() {
                    var handle_status = $("#handle_status").val();
                    if (handle_status == '0') {
                        layer.msg('添加成功！', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            history.go(0);
                        });
                    } else if (handle_status == '1') {
                        layer.msg('添加失败,请联系系统厂商处理！', {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            history.go(0);
                        });
                    }
                }
            });
        });

        //解决隐藏工具条无法点击
        $(document).off('mousedown','.layui-table-grid-down')
           .on('mousedown','.layui-table-grid-down',function(event) {
            table._tableTrCurr=$(this).closest('td');
        });
        $(document).off('click','.layui-table-tips-main [lay-event]')
             .on('click', '.layui-table-tips-main [lay-event]', function(event){
                 var elem=$(this);
                 var tableTrCurr=table._tableTrCurr;
                 if(!tableTrCurr){
                    return;
                 }
                 var layerIndex=elem.closest('.layui-table-tips').attr('times');
                 layer.close(layerIndex);
                 table._tableTrCurr.find('[lay-event="'+elem.attr('lay-event')+'"]').click();//fires()
        });

        //工具监听事件
        table.on('tool(LAY-user-manage)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent=='detail')
            {
                if(data.changeStr1=='离线'){
                    layer.open({
                        title: '用户不在线提示！'
                        ,content: '当前用户不在线，无法踢下线！'
                    });
                    return;
                }
                layer.confirm('确定踢出该用户下线吗？', function(index){
                    layer.close(index);
                    Offline(data.wvg_user_id);
                });
            }else if(layEvent=='edit'){
                layer.open({
                    anim:1,
                    type:2,
                    title: '修改用户',
                    content: ['/page/user/editUser', 'no'],
                    maxmin: true,
                    area:['680px','400px'],
                    success:function(layero,index){
                        var body = layui.layer.getChildFrame('body', index);
                        body.find("#wvg_user_id").val(data.wvg_user_id);
                        body.find("#wvg_login_name").val(data.wvg_login_name);
                        body.find("#wvg_real_name").val(data.wvg_real_name);
                        body.find("#wvg_user_iphone").val(data.wvg_user_iphone);
                        body.find("#wvg_id_number").val(data.wvg_id_number);
                        body.find("#wvg_user_password").val(data.wvg_user_password);
                        /*body.find("#userid").field("option[value="+data.wvg_id_type+"]").attr('selected',true).option.innerText='';*/
                        form.render();
                    },
                    end:function() {
                        var handle_status = $("#handle_status").val();
                        if (handle_status == '0') {
                            layer.msg('修改成功！', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                history.go(0);
                            });
                        } else if (handle_status == '1') {
                            layer.msg('修改失败,请联系系统厂商处理！', {
                                icon: 2,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                history.go(0);
                            });
                        }
                    }
                });
            }
            else if(layEvent=='reset'){
                layer.confirm('确定重置该用户密码为初始密码：' +
                    'ponsystem@123456', function(index){
                    layer.close(index);
                $.ajax({
                    url:'/users/reset/'+data.wvg_user_id,
                    data:data,
                    success:function (data) {
                        layer.msg(data.message, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                })
                });
            }
            else if(layEvent=='del'){
                layer.confirm('确定删除该用户吗？', function(index){
                    layer.close(index);
                    $.ajax({
                        url:'/users/delete/'+data.wvg_user_id,
                        data:data,
                        success:function (data) {
                            layer.msg(data.message, {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                history.go(0);
                            });
                        }
                    })
                });
            }
       });
    });
function Offline(wvg_user_id) {
    $.ajax({
        url:'/users/quit/'+wvg_user_id,
        success:function (data) {
            table.reload('LAY-user-manage'); //数据刷新
            layer.msg(data.message);
        },
    })

}

</script>
</body>
</html>